body {
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
    font-size: 14px;
}


/*=====================================
  NAVBAR STYLES 
    ===================================*/

.logo-custom {
    max-height: 40px;
}

#menu {
    background-color: rgba(28, 43, 75, 1);
    color: #fff;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 1px;
    min-height: 70px;
    margin: 100px
}

.navbar-inverse {
    border-color: transparent;
}

.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-nav>li>a:hover {
    color: #FFF;
    padding: 22px 10px;
}